# .env.example
SECRET_KEY=
DATABASE_UR# .env
HMC_SECRET_KEY=


# Дані для адмінки
HMC_Email=
HMC_password=

# дані бази даних
HMC_DATABASE_URL=
HMC_NAME=
HMC_USER=
HMC_PASSWORD=
HMC_HOST=
HMC_PORT=

SUPABASE_URL=
SUPABASE_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

L=